<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Weather -->
    <li class="nav-item">
        <NavLink class="nav-link" href="weather">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Weather</span>
        </NavLink>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Counter -->
    <li class="nav-item">
        <NavLink class="nav-link" href="counter">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Counter</span>
        </NavLink>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Counter -->
    <li class="nav-item">
        <NavLink class="nav-link" href="employee">
            <i class="fas fa-fw fa-user"></i>
            <span>Employee</span>
        </NavLink>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>