@inherits LayoutComponentBase

<div id="wrapper">

    <!-- Sidebar -->
    <LeftMenu/>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <NavMenu/>
            <!-- Topbar -->
            
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                @Body

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <Footer />

        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>